.backdrop {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;

  background: #00000033;

  transition: opacity 250ms $transition-timing-function;

  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  height: 609px;

  background-color: $whiteColor;

  transition: transform 500ms $transition-timing-function;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }

  @media screen and (min-width: 767.98px) {
    top: 80%;
  }

  @media screen and (min-width: 1199.98px) {
    top: 45%;
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;

  cursor: pointer;

  border-radius: 50%;
  border: 1px solid #0000001a;

  background-color: $whiteColor;

  &:hover {
    color: $brandColor;
  }
}

.modal-btn-icon {
  transition: fill 250ms $transition-timing-function;

  .modal-btn:hover & {
    fill: $brandColor;
  }

  .modal-btn:focus & {
    fill: $brandColor;
  }
}

.modal-form {
  padding: 40px;
}

.modal-form-label {
  position: relative;

  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.form-title {
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $secondColor;

  text-align: center;
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  margin-top: 4px;
  padding: 11px 12px;

  border: 1px solid #21212133;
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms $transition-timing-function;

  &:focus {
    border-color: $brandColor;
    padding-left: 42px;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms $transition-timing-function;

  .modal-form-input:focus + & {
    fill: $brandColor;
  }
}

.textarea {
  margin-bottom: 20px;
}

.modal-form-textarea {
  width: 100%;
  min-height: 120px;

  margin-top: 4px;
  padding: 12px 16px;

  border: 1px solid #21212133;
  border-radius: 4px;

  resize: none;
  outline: none;

  transition: border-color 250ms $transition-timing-function;

  &:focus {
    border-color: $brandColor;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  content: "";
  display: inline-block;

  width: 16px;
  height: 15px;

  border: 2px solid $secondColor;
  border-radius: 2px;
}

.modal-checkbox {
  appearance: none;
}

.modal-checkbox:checked + .checkbox-icon {
  border-color: $brandColor;

  background-color: $brandColor;
  background-image: url(../images/icon-check1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-left: 8px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $brandColor;
  text-decoration: underline;

  margin-left: 5px;

  @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
}

.modal-form-btn {
  display: block;

  margin-top: 30px;
  min-width: 200px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  background-color: $brandColor;
  color: $whiteColor;

  border-radius: 4px;
  border: transparent;

  transition: background-color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
