.work{
  display: none;

  @media screen and (min-width:1200px) {
    display: block;
  }

  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 27px 0;

  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $whiteColor;
  background: #2f303acc;
}
