body {
    background-color: $whiteColor;
    color: $mainColor;

    font-family: Roboto, sans-serif;
}

.section {
    padding: 94px 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}